body
{
    /* font-size:1.2em; */
    /* font-family:'Open Sans',Arial,sans-serif; */
    /* background:#fff; */

    background:#2F3034;
    /* background:#c9c9c9 url('/public/images/carbon_tile.jpg') repeat; */


    /* color:#777 */
    /* padding-top:60px; */
}

.wrapper
{
    margin-top:4px;
    padding-bottom:30px;
    background:#FFF;
    /*
    -webkit-box-shadow: 6px 5px 8px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    6px 5px 8px rgba(50, 50, 50, 0.1);
    box-shadow:         6px 5px 8px rgba(50, 50, 50, 0.1);
    */
    -webkit-box-shadow: 6px 5px 8px rgba(255, 255, 255, 0.2);
    -moz-box-shadow:    6px 5px 8px rgba(255, 255, 255, 0.2);
    box-shadow:         6px 5px 8px rgba(255, 255, 255, 0.2);
    margin-bottom:20px;
}

address
{
    font-size:14px;
}

.chartJumbo
{
    background:url('/public/images/chart.jpg');
    color:white;

    text-shadow: 2px 2px rgba(50, 50, 50, 0.5);
}

.modal-footer
{
    background:#2F3034;
}

.footer-container
{
    min-height:250px;
}

.footer-container, .footer-container a
{
    color:white;
}


.mainUserLink
{
    margin-top:23px;
    margin-right:20px;
}

.mainLoginLink
{
    margin-top:15px;
}

.btn, .form-control, .panel, .breadcrumb, .alert, .navbar, table, .cke_reset
{
-webkit-box-shadow: 6px 5px 8px rgba(50, 50, 50, 0.1);
-moz-box-shadow:    6px 5px 8px rgba(50, 50, 50, 0.1);
box-shadow:         6px 5px 8px rgba(50, 50, 50, 0.1);
}


#q
{
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
box-shadow: none !important;
}


.homepageItemRow
{
    margin-bottom:20px;
}

.homepageItem
{
    font-size:1.1em;
    border:1px solid #eee;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    min-height:390px;
    max-height:390px;
    overflow:hidden;
}

.homepageItem:hover
{
    background:#fffdc8;
    cursor:pointer;
}


.homepageItem .wrapper
{
    margin:10px 5px 10px 5px;
}

.homepageItem label
{
    font-size:1.1em;
    font-weight:bold;
}

.homepageItem .itemPriceContainer
{
    position:absolute;
    bottom:15px;
}

.homepageItem .price
{
    display:block;
    font-size:1.2em;
    font-weight:bold;
}

.trackingItem .panel .panel-heading
{
    height:50px;
    max-height:50x;
    min-height:50px;
    overflow:hidden;
    font-size:12px;
    font-weight:bold;
}


.trackingItem .panel .panel-body
{
    min-height:410px;
    max-height:410px;
}

.trackingItem .panel .panel-body:hover
{
    background:#fffdc8;
    cursor:pointer;
}


#priceChartContainer
{
    margin-top:20px;
}

.buyBtn
{
    margin-top:25px;
    margin-right:10px;
}

table td.currentPrice
{
    font-size:24px;
    font-weight:bold;
}


table td.highPrice
{
    font-size:20px;
    font-weight:bold;
    color:#c91212;
}

table td.lowPrice
{
    font-size:20px;
    font-weight:bold;
    color:#178216;
}

hr.trackingSearch
{
    margin-top:40px;
    margin-bottom:20px;
}


.contactUsRow
{
    margin-top:20px;
}

table.itemPreview
{
    font-size:10px;

    margin-top:15px;
    margin-bottom:10px;

    /* margin:15px auto 10px auto; */

    width:75%;
    position:absolute;
    bottom:80px;
}


table.itemPreview td.currentPrice, table.itemPreview td.highPrice, table.itemPreview td.lowPrice
{
    font-size:12px;
    font-weight:bold;
}

.chart-preview
{
    display:block;
    height:400px;
}

.chart-preview span, .chart-preview img
{
    position:absolute;
    display:inline;

}

.chart-preview span
{
    color:#777;
    font-size:40px;
    font-weight:bold;
    z-index:10000;

    text-align:center;
    display:-inline-block;
    width:100%;

    margin-top:10%
}

iframe.hiddenIframe
{
    visibility:hidden;
    display:none;
}

i.danger
{
    color:#c91212;
}

i.success
{
    color:#178216;
}

#mainDisplayTbl td:hover
{
    cursor:pointer;
}

.ftBanner
{
    width:100%;
    float:none;
    text-align:center;
}
